<div class="container">





    <div class="row">

        <div class="col-sm-12 blog-main">

            <div class="blog-post">
                <h2 class="blog-post-title">
                    <%=db.title%>
                </h2>
                <!-- <p class="blog-post-meta">January 1, 2014 by <a href="#">Mark</a></p> -->

                <p>
                    <%=db.caption%>
                </p>


            </div>
            <!-- /.blog-post -->


            <nav>
                <ul class="pager">
                    <li><a href="#">Previous</a></li>
                    <li><a href="#">Next</a></li>
                </ul>
            </nav>

        </div>
        <!-- /.blog-main -->


        <!-- /.blog-sidebar -->

    </div>
    <!-- /.row -->

</div>