    <div class="box-cart">
        <% db.forEach((val, index)=>{%>
            <div id="cart" class="cart-box">
                <div class="title">
                    <h1>  <%=val.title%></h1>
                </div>
                <div class="caption">
                        <%=val.caption%>
                </div>
            </div>
            
        <% }) %>
    </div>
</body>

</html>