<div class="inner cover">
    <h1 class="cover-heading">به اکسپرس خوش آمدید</h1>
    <p class="lead">این یک مینی پروژه است برای مثال و توضیح اکسپرس mvc به وسیله دیتابیس postgres</p>
    <p class="lead">
        <a href="/admin" class="btn btn-lg btn-default">شروع کن</a>
    </p>
</div>

<div class="mastfoot">
    <div class="inner">
        <p>رونویسی از قالب <a href="https://getbootstrap.com/">Bootstrap</a></p>
    </div>
</div>