<%include ../partition/header.ejs%>
    <div class="site-wrapper">

        <div class="site-wrapper-inner">

            <div class="cover-container">

                <div class="masthead clearfix">
                    <div class="inner">
                        <h3 class="masthead-brand">
                            <%=app.appname%>
                        </h3>
                        <nav>
                            <ul class="nav masthead-nav">
                                <%menu.forEach(val=>{%>
                                    <li class="">
                                        <a href="<%=val.menuurl%>">
                                            <%=val.menuname%>
                                        </a>
                                    </li>
                                    <%})%>
                            </ul>
                        </nav>
                    </div>
                </div>
                <%-body%>
            </div>

        </div>


    </div>
    <%include ../partition/footer.ejs %>